@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../assets/fonts/Poppins-400.woff2') format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: url('../assets/fonts/Poppins-500.woff2') format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../assets/fonts/Poppins-600.woff2') format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url('../assets/fonts/Poppins-700.woff2') format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: italic;
    src: url('../assets/fonts/Poppins-Italic.woff2') format('woff2');
    font-display: swap;
  }
}

/* "y" property is for y in svg rect  */
.burger .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
  transform-origin: center;
}

.burger[aria-expanded="true"] .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}

.burger[aria-expanded="true"] :is(.top, .bottom) {
  y: 45px;
}

.burger[aria-expanded="true"] .top {
  rotate: 45deg;
}

.burger[aria-expanded="true"] .middle {
  opacity: 0;
}

.burger[aria-expanded="true"] .bottom {
  rotate: -45deg;
}

.accordion-content[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

@media (prefers-reduced-motion: no-preference) {

  @supports (animation-timeline: view()) {
    img {
      scale: 0.75; opacity: 0.25;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range-start: 50px;
      animation-range-end: 400px;
    }
  }

  @keyframes fade-in {
    to {
      scale: 1; opacity: 1;
    }
  }
}

